body {
    background-color: #131d44;
    font-family: 'Montserrat', sans-serif;
}

#details {
    display: flex;
}

#detailsCard {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: white;
    width: 700px;
    min-height: 300px;
    margin-top: 130px;
    border-radius: 20px;
    padding: 40px;
}

#title {
    width: 500px;
    background-color: #505d94;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 10px;
    border-radius: 12px;
}

#title h1 {
    margin: 0;
}

#title p{
    margin: 0;
}

#generalInfo {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.transaction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #131d44;
}

.transactionType {
    margin-bottom: 0;
}

.date {
    margin-top: 3px;
    font-size: 12px;
}

.transactionAmount {
    font-size: 20px;
    font-weight: bold;
}

.cdtDetails {
    width: 100%;
}
