#transferSection {
    display: flex;
}

#transferModuleContainer {
    margin-top: 130px;
    display: flex;
    gap: 20px;
}

#createAddressee,  #sendTransfer{
    margin: 0;
    background-color: white;
    width: 325px;
    height: 350px;
    border-radius: 20px;
    padding: 20px;
}

.createAddrTitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    margin: 10px 0 5px 0;
}

.inputGroup input, .inputGroup select {
    height: 25px;
    border: 1px solid #505d94;
    border-radius: 5px;
}

.saveInfo {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    background-color: #505d94;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
}

.saveInfo:hover {
    cursor: pointer;
    background-color: #131d44;
}

#sendTransfer {
    width: 500px;
}

#firstLabel {
    margin-top: 0;
}


.transferAmount label{
    margin-top: 35px;
    font-size: 20px;
}

.transferAmount input {
    height: 40px;
    font-size: 30px;
}



@media (min-width: 1300px) {
    #transferModuleContainer {
        margin-left: auto;
        margin-right: auto;
    }
}