* {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 700px;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 15px 0 7px 0;
}

a {
    margin-top: 8px;
    background-color: #131d44;
    color: white;
    font-weight: bold;
    height: 32px;
    width: 75px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}

a:hover {
    cursor: pointer;
    background-color: #2c3765;
}


@media (min-width: 1300px) {
    img {
        margin-top: auto;
        margin-bottom: auto;
    }
}