.menuContainer {
    padding-bottom: 5px;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0 10px;
}

button:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}