<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    <title>BankCol</title>
</head>
<body>
    <section class="navbar-container">
        <h1>Hola <%= data.name %>!</h1>
        <div class="menuContainer">
            <a href="/products">Productos</a>
            <a href="/transfer">Transferir</a>
            <a href="/withdraw">Retirar</a>
            <a href="/consign">Consignar</a>
            <a href="/opencdt">Abrir CDT</a>
        </div>
    </section>
</body>