body {
    background-color: white;
}

.login-form {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 500px;
    margin-bottom: 28px;
}

.input-box {
    margin-top: 28px;
}

.input-box label {
    font-family: 'Montserrat', sans-serif;
}

.input-container {
    margin-top: 8px;
}

.input-box input {
    height: 45px;
    width: 480px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 10px;
    padding: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 45px;
    width: 180px;
    background-color: #131d44;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 50px;
}

.button:hover {
    cursor: pointer;
    background-color: #404c7f;
}

@media (max-width: 600px) {
    .logo {
        width: 300px;
    }

    .input-box input {
        height: 38px;
        width: 260px;
        font-size: 12px;
    }

    form button {
        height: 38px;
        width: 180px;
    }
}