* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #131d44;
}

.navbar-container {
    margin: 0 20px;
    width: fit-content;
}

h1 {
    color: white;
    font-size: 40px;
}

.menuContainer {
    height: fit-content;
    width: 250px;
    border-radius: 20px;
    background-color: #505d94;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.menuContainer a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 80%;
    text-decoration: none;
}

#firstButton {
    margin-top: 20px;
}

.menuContainer a:hover {
    cursor: pointer;
    font-weight: bolder;
}





@media (min-width: 1300px) {
    #detailsCard {
        margin-left: auto;
        margin-right: auto;
    }
}