<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="styles/welcomePage.css">
<title>Bienvenido</title>
<body>
    <img src="images/welcome-img.webp">
    <h1>Bienvenido a BankCol</h1>
    <p>Inicia sesión para acceder a la aplicación</p>
    <a href="/login" role="button">Login</a>
</body>