footer {
    height: 15vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #131d44;

}

footer p {
    font-size: 18px;
    margin-bottom: 0;
}