.adresseCardContainer {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-bottom: 1px solid #131d44;
    width: 85%;
}

.addresseName {
    font-weight: bolder;
    font-size: 15px;
    margin: 0;
}

.addresseAccount {
    margin: 0;
    font-size: 13px;
}