.productCard {
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
}

img {
    width: 50px;
}

.productName {
    color: black;
    font-size: 20px;
}

.productId {
    font-size: 14px;
    font-weight: 700;
    margin-top: 2px;
}

.amountLabel {
    font-size: 14px;
    margin-bottom: 0;
}

.productAmount {
    font-size: 35px;
    margin-top: 0;
}

button {
    background-color: transparent;
    color: #131d44;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 1300px) {
    .productCard {
        height: 550px;
    }

    .img {
        width: 80px;
    }

    .productName {
        margin-top: 20px;
        font-size: 30px;
    }

    .productId {
        font-size: 18px;
    }

    .amountLabel {
        margin-top: 50px;
        font-size: 15px;
    }

    .productAmount {
        font-size: 50px;
    }

    button {
        margin-top: 50px;
        font-size: 20px;
    }
}